.view-home {
  & .logo {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;

    & .logoImg {
      width: 403px;
      height: 94px;
    }
  }
  & .helloTxt {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    font-weight: 100;
  }

  & .form {
    display: flex;
    flex-direction: column;

    & input {
      align-self: stretch;
      border: 1px solid #ccc;
      padding: 10px 15px;
      margin: 30px 0;
    }

    & button {
      display: flex;
      align-self: flex-end;
      flex-direction: row;
      align-content: center;
      justify-content: center;

      & .btnIcon {
        align-self: center;
        margin-right: 5px;
      }
    }
  }
}
